
h1{
    margin-top: 0%;
    text-align:center;
    background-color:rgb(55, 55, 120);
    padding:3%;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
p{
    padding-left: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1%;
    font-weight: bold;

}

form{
    padding-left: 15%;
    display: grid;
    grid-template-columns: 100%,30%;
    
}
.text{
    width: 90%;
    height: 90%;

}
.btn{
    width:35%;
   grid-column: 2;
   background-color: rgb(33, 36, 41);
   color:white;
   font-size: 18px;
}
/* Formatting php objects */
.result{
    padding:1%;
    background-color:rgb(212, 211, 211);
    padding-left: 15%;
}
.result h4{
    
    color: rgb(45, 134, 211);
}
.result h3{
    color:blue;
    font-weight: bolder;
}
.result p{
   
    color:black;
    font-family: 'Times New Roman', Times, serif;
}


